.App {
  padding: 5rem;
  display: flex;
  height: 100vh;
}

.search {
  flex-basis: 25%;
  background-color: aquamarine;
  height: 100%;
  color: black;

  padding: 0 1rem;

  &__input {
    background: #f7f7f7;
    color: black;
    width: 100%;
    font-size: 1.4rem;
    padding: 0.2rem;
  }

  &__input,
  &__input:focus,
  &__input:active {
    border-radius: 0.3rem;
  }
}

.map {
  background-color: burlywood;
  width: 100%;
}

.card {
  display: flex;
  font-size: 1.2rem;
  margin-bottom: 1rem;

  &__destination {
    margin-right: auto;
  }

  &__button {
    width: 25%;
    font-weight: bold;
    cursor: pointer;
  }
}
